:root {
    --surface: #111111;
    --surface-container: #222222;

    --border: #666666;

    --text: #eeeeee;
    --subtext: #aaaaaa;

    --accent: #3c6e1d;
    --accent-text: #1c2e1d;

    --error: #6a2d4f;
    --error-text: #4a2d4f;
}

* {
    box-sizing: border-box;

    font-family: "Inter", sans-serif;

    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--accent);

    color: var(--accent-text);
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    color: var(--accent-text);
    text-decoration: underline;
}

html {
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

body {
    height: 100dvh;
    width: 100dvw;
}

main {
    display: flex;

    background-color: var(--surface);

    height: 100%;
    width: 100%;
}

#model-3d {
    background-color: var(--surface-container);
    border-radius: 0 32px 32px 0;

    flex: 1;
}

.interaction-wrapper {
    display: flex;
    justify-content: center;

    padding: 32px;

    overflow-y: auto;

    height: 100%;
    width: 600px;

    transition: width 200ms ease;
}

.interaction {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;

    margin: auto;

    min-height: 0;
    width: 100%;
}

.interaction-icon {
    height: 125px;
}

.interaction-title {
    color: var(--text);
    font-size: 1.5rem;
}

.interaction-message {
    background-color: var(--accent);
    border-radius: 8px;

    color: var(--accent-text);
    text-align: center;

    padding: 8px;
}

.interaction-message.error {
    background-color: var(--error);

    color: var(--error-text);
}

.interaction form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
}

.interaction .input-wrapper {
    position: relative;

    width: 100%;
}

.interaction .input-wrapper::before {
    content: "";

    background-color: var(--accent);

    position: absolute;
    top: calc(100% - 2px);

    height: 2px;
    width: 0%;

    transition: width 500ms ease;
}

.interaction .input-wrapper:focus-within::before {
    width: 100%;
}

.interaction input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--border);
    outline: none;

    color: var(--text);

    height: 40px;
    width: 100%;

    transition: background 200ms ease;
}

.interaction input:hover {
    background-color: color-mix(
        in srgb,
        var(--surface-container),
        transparent 50%
    );
}

.interaction input:focus:hover {
    background-color: transparent;
}

.input input::placeholder {
    color: var(--subtext);
}

.interaction button {
    background-color: var(--surface-container);
    border-radius: 8px;
    border: none;

    color: var(--text);

    cursor: pointer;

    height: 50px;

    transition:
        background 200ms ease,
        color 200ms ease;
}

.interaction button:hover {
    background-color: var(--accent);

    color: var(--accent-text);
}

.interaction-options {
    color: var(--text);
    text-align: center;
}

@media (width <= 1200px) {
    .interaction-wrapper {
        width: 400px;
    }
}

@media (width <= 800px) {
    .interaction-wrapper {
        width: 100%;
    }
}
